<!DOCTYPE html>
<html>

<head>
    <%- include PartialViews/head.ejs %>
</head>

<body>
    <%- include PartialViews/header.ejs %>
    <%- include(body) %>
    <%- include PartialViews/footer.ejs %>
</body>

    <%- include PartialViews/scripts.ejs %>

</html>
